.text-center 
{
	font-size: 50px;
	font-family: cursive;
}
#add 
{
	font-size: 20px;
	font-family: cursive;
}
body 
{
	background-image: url("../images/background.jpg")
}
.ratings
{
	font-weight: bold;
	font-family: cursive;
	font-size: 15px;
}